flask
flask_cors
flask_script
gevent
wget
pdf2image
boto3
reportlab
opencv-python
openpyxl
pdfquery
numpy
scipy
pdftotext
pytesseract
python-docx
xlsxwriter
datefinder
PyPDF2
spacy
camelot-py[cv]==0.8.0
